---
import RootLayout from "@layouts/RootLayout.astro";
import ShortLinkForm from "@components/short-link-form/ShortLinkForm";
import Header from "@components/header/Header.astro";
import Footer from "@components/footer/Footer.astro";
import { getAllPaginatedLinks } from "@/services/link.service";
import LinkList from "@components/link-list/LinkList";
import Pagination from "@/components/pagination/Pagination.astro";
import Bmc from "@components/icons/bmc.svg";
import LightGitHub from "@components/icons/github.svg";
import DarkGitHub from "@components/icons/github-dark.svg";
import ToggleDarkMode from "@/components/toggle-dark-dode/ToggleDarkMode.astro";

const url = Astro.request.url;
const urlParams = new URL(url).searchParams;
const page = urlParams.get("page") || 1;

const { links, currentPage, totalPages, hasNextPage, hasPreviousPage } =
  await getAllPaginatedLinks(+page, 6);
---

<RootLayout>
  <main
    class="flex flex-col items-center max-w-2xl md:max-w-[90rem] mx-auto pt-4"
  >
    <Header />

    <div
      class="w-full h-full flex flex-col lg:flex-row lg:gap-8 justify-between"
    >
      <div
        class="p-8 w-full max-w-xl mx-auto shadow-md flex flex-col gap-6 rounded-md bg-slate-50 dark:bg-slate-700"
      >
        <div class="w-full flex justify-end items-center gap-5">
          <a
            href="https://buymeacoffee.com/breimercts"
            class="text-slate-500 hover:text-slate-700 dark:hover:text-slate-300 dark:text-slate-400 text-sm font-semibold transition-all hover:scale-110"
            target="_blank"
            rel="noopener noreferrer"
            title="Buy me a coffee"
          >
            <Bmc class="size-7" />
          </a>

          <a
            href="https://github.com/Breimerct/bect.link"
            class="text-slate-500 hover:text-slate-700 dark:hover:text-slate-300 dark:text-slate-400 text-sm font-semibold transition-all hover:scale-110"
            target="_blank"
            rel="noopener noreferrer"
            title="GitHub Repository"
          >
            <LightGitHub class="size-7 dark:hidden" />
            <DarkGitHub class="hidden dark:block size-7" />
          </a>

          <div>
            <ToggleDarkMode />
          </div>
        </div>
        <ShortLinkForm client:load />
      </div>

      <section class="w-full my-8 lg:mt-0">
        <h1 class="text-2xl font-bold mb-4">Your Short Links</h1>

        {
          !links.length && (
            <div class="text-center mt-10">
              <h4 class="text-slate-500 text-3xl font-bold">
                No short links found.
                <br /> Create one above!
              </h4>
            </div>
          )
        }

        <LinkList links={links} client:only="react" />
        <Pagination
          currentPage={currentPage}
          totalPages={totalPages}
          hasNextPage={hasNextPage}
          hasPreviousPage={hasPreviousPage}
        />
      </section>
    </div>

    <Footer />
  </main>
</RootLayout>
