---
import RootLayout from "@layouts/RootLayout.astro";
import ShortLinkForm from "@components/short-link-form/ShortLinkForm";
import Header from "@components/header/Header.astro";
import Footer from "@components/footer/Footer.astro";
import { getAllPaginatedLinks } from "@/services/link.service";
import LinkList from "@components/link-list/LinkList";
import Pagination from "@/components/pagination/Pagination.astro";
import FilterLinks from "@components/filter-links/FilterLinks";
import Bmc from "@components/icons/bmc.svg";
import LightGitHub from "@components/icons/github.svg";
import DarkGitHub from "@components/icons/github-dark.svg";
import ToggleDarkMode from "@/components/toggle-dark-dode/ToggleDarkMode.astro";

const url = Astro.request.url;
const urlParams = new URL(url).searchParams;
const page = urlParams.get("page") || "0";
const search = urlParams.get("search") || "";

const isValidPage = !isNaN(Number(page)) && Number(page) > 0;

if (!isValidPage) {
  const redirectUrl = search ? `/?page=1&search=${search}` : "/?page=1";
  return Astro.redirect(redirectUrl);
}

const { data, error } = await getAllPaginatedLinks({
  page: Number(page),
  limit: 4,
  slug: search,
});

const { links, currentPage, totalPages, hasNextPage, hasPreviousPage } = data;
---

<RootLayout>
  <main
    class="flex flex-col items-center max-w-2xl md:max-w-[90rem] mx-auto pt-4"
  >
    <Header />

    <div class="w-full flex flex-col lg:flex-row lg:gap-8 justify-between">
      <section
        aria-labelledby="form-section"
        class="p-8 w-full h-full max-w-xl mx-auto shadow-md flex flex-col gap-6 rounded-md bg-slate-50 dark:bg-slate-700"
      >
        <nav class="w-full flex justify-end items-center gap-5">
          <a
            aria-label="Buy me a coffee"
            href="https://buymeacoffee.com/breimercts"
            class="text-slate-500 hover:text-slate-700 dark:hover:text-slate-300 dark:text-slate-400 text-sm font-semibold transition-all hover:scale-110"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Bmc class="size-7" aria-label="Buy me a coffee icon" />
          </a>

          <a
            aria-label="GitHub Repository"
            href="https://github.com/Breimerct/brever.link"
            class="text-slate-500 hover:text-slate-700 dark:hover:text-slate-300 dark:text-slate-400 text-sm font-semibold transition-all hover:scale-110"
            target="_blank"
            rel="noopener noreferrer"
          >
            <LightGitHub
              class="size-7 dark:hidden"
              aria-label="GitHub icon light"
            />
            <DarkGitHub
              class="hidden dark:block size-7"
              aria-label="GitHub icon dark"
            />
          </a>

          <div transition:persist>
            <ToggleDarkMode />
          </div>
        </nav>

        <h2 id="form-section" class="sr-only">Create Short Link</h2>
        <ShortLinkForm isFocusForm={!search} client:only="react" />
      </section>

      <section aria-labelledby="links-heading" class="w-full my-8 lg:mt-0">
        <h1 id="links-heading" class="text-2xl font-bold mb-4">
          Your Short Links
        </h1>

        {
          !error && !links.length && (
            <article class="text-center mt-10">
              <h2 class="text-slate-500 text-3xl font-bold">
                No short links found.
                <br /> Create one above!
              </h2>
            </article>
          )
        }

        {
          error && (
            <article class="text-center mt-10 flex flex-col items-center gap-4">
              <h2 class="text-red-400/80 text-2xl font-bold">
                An error occurred while fetching the links.
                {error && (
                  <>
                    <br /> ({error})
                  </>
                )}
              </h2>
              <a
                class="mt-4 px-4 py-2 font-bold uppercase bg-slate-200 dark:bg-slate-600 text-slate-700 dark:text-slate-200 rounded hover:bg-slate-300 dark:hover:bg-slate-500 transition"
                href="/"
              >
                Reload Page
              </a>
            </article>
          )
        }

        {
          !error && !!links.length && (
            <>
              <FilterLinks client:only="react" transition:persist />
              <LinkList links={links} client:only="react" />
              <nav aria-label="Pagination">
                <Pagination
                  currentPage={currentPage}
                  totalPages={totalPages}
                  hasNextPage={hasNextPage}
                  hasPreviousPage={hasPreviousPage}
                />
              </nav>
            </>
          )
        }
      </section>
    </div>

    <Footer />
  </main>
</RootLayout>

<script>
  const createLoader = () => {
    const loader = document.createElement("div");
    loader.id = "page-loader";
    loader.setAttribute("aria-label", "Page loading");
    loader.setAttribute("role", "progressbar");
    loader.classList.add(
      "fixed",
      "top-0",
      "left-0",
      "w-full",
      "h-1",
      "bg-slate-700",
      "z-50",
      "dark:bg-slate-500"
    );
    loader.style.animation = "loading 1.5s infinite ease-in-out";

    if (!document.getElementById("loader-style")) {
      const style = document.createElement("style");
      style.id = "loader-style";
      style.innerHTML = `
        @keyframes loading {
          0% { transform: translateX(-100%); }
          50% { transform: translateX(30%); }
          100% { transform: translateX(100%); }
        }
      `;
      document.head.appendChild(style);
    }

    document.body.appendChild(loader);
  };

  const removeLoader = () => {
    const loader = document.getElementById("page-loader");
    if (loader) loader.remove();
  };

  document.addEventListener("astro:before-preparation", createLoader);
  document.addEventListener("astro:page-load", removeLoader);
  document.addEventListener("astro:after-swap", removeLoader);
</script>
