---
import { ClientRouter } from "astro:transitions";
import Toaster from "@components/toaster/Toaster";
import("@styles/global.css");

const title = "brever.link";
const siteUrl = "https://brever.link";
const ogTitle = "Brever.link | Instantly shorten your links with style";
const ogDescription =
  "Brever.link is a fast, secure and minimalist URL shortener. Perfect for social media, marketing and more. Try it for free!";
const image = `${siteUrl}/og.webp`;
const imageAlt = "Brever.link - URL shortener with analytics and clean design";

const twitterTitle = "Brever.link | Short links, big results";
const twitterDescription =
  "Simplify your URLs and share with confidence. Track clicks and optimize your audience.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>
      {title} - A URL shortener
    </title>

    <meta
      name="keywords"
      content="url shortener, link shortener, shorten url, shorten link, url shortener with analytics, url shortener free, custom short links, branded links, link management, link tracking, link analytics, url shortening service, short links for social media, breve, breve.link, brever.link, breimer correa"
    />

    <meta name="robots" content="index, follow" />

    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:type" content="website" />

    <meta property="og:image" content={image} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content={imageAlt} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@_dotBRe" />
    <meta name="twitter:title" content={twitterTitle} />
    <meta name="twitter:description" content={twitterDescription} />
    <meta name="twitter:image" content={image} />

    <ClientRouter />
  </head>
  <body
    class="relative min-h-screen p-4 pb-16 dark:bg-slate-900 dark:text-slate-200 custom-scrollbar"
  >
    <Toaster client:only="react" />
    <slot />
  </body>
</html>
