---
import { cn, formatDate, getDomain } from "@/helpers/utils";
import type { Link } from "@/types/link.type";

interface Props {
  link: Link;
}

const { link } = Astro.props;
---

<li
  class={cn(
    "p-4 bg-white rounded-lg shadow-md",
    "col-span-1",
    "hover:bg-gray-100 transition-colors duration-200 ease-in-out",
    "flex flex-col gap-2",
    "border border-gray-200",
    "dark:bg-gray-800 dark:border-gray-700",
    "dark:hover:bg-gray-700 dark:hover:border-gray-600",
    "dark:text-gray-200",
  )}
>
  <div class="flex items-center justify-between gap-2">
    <div>
      <h1
        class="text-lg font-semibold w-full text-nowrap overflow-hidden text-ellipsis"
      >
        {getDomain(link.url)}
      </h1>
    </div>
  </div>
  <a
    href={link.shortLink}
    target="_blank"
    rel="noopener noreferrer"
    class="text-blue-500 hover:text-blue-700"
  >
    <h1
      class="text-lg font-semibold w-full text-nowrap overflow-hidden text-ellipsis"
    >
      <span
        class="bg-gray-200 text-gray-800 font-semibold mr-1 px-1.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300 text-sm"
      >
        https://breto-me.vercel.app/
      </span>
      {link.slug}
    </h1>
  </a>

  <div class="flex items-center justify-between gap-2">
    <small>
      <date>
        {formatDate(link.createdAt)}
      </date>
    </small>

    <div>
      <span class="text-gray-500">{link.clickCount}</span>
      <span class="text-gray-500"> clicks</span>
    </div>
  </div>
</li>
